body{
    background-color: white;
    margin: 0;
    padding: 0;
    height: 100vh;
}

    /* Navigation*/
nav {
    display: flex;
    justify-content: flex-end;
    min-width: 20%;
    align-items: center;
    margin-top: 1%;
}

nav a{
    color: #5a5858;
    text-decoration: none;
    margin-right: 1%;
}

nav a:hover{
    text-decoration: underline;
    cursor: pointer;
}

nav img{
    height: 30%;
    width: 2%;
    margin: 0 1%;
}

nav .g{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: red;
    font-size: 120%;
    color: #fff;
    font-weight: 700;
    /* background-color:red;
    padding: 5px;
    border: 8px solid red;
    border-radius: 64px;
    margin-right: 20px;
    margin-top: 10px;
    color: whitesmoke;   */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cover {
    text-align: center;
}

div img{
    height: 30%;
    width: 25%;
} 

    /* Search Field*/

input{
    width: 40%;
    padding: 14px;
    border-radius: 33px;
    margin-top: 20px;
    border: 1px solid #888;
    outline: 0;
}

input:hover{
    box-shadow:  8px 8px gainsboro;
}

/* .search, .mic{
    position: absolute;
    top: 0;
    height: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    
} */

/* .search{
    margin-left: 394px;
    margin-top: 247px;
}

.mic{
    margin-left: 920px;
    margin-top: 247px;
} */

    /* Buttons*/
.select{
    margin-top: 30px;
    margin-left: 519px;
    
}

button{
    padding: 10px; 
    border-radius: 4px;
    margin: 3px;
    font-size: 17px;
    outline: 0;
    
}

button:hover{
    background-color: #888;
    cursor: pointer;
    
}

.text{
    margin-top: 30px;
    margin-left: 424px;
    font-size: 17px;
}

.text a{
    padding: 7px;
    text-decoration: none;
    color: blue;
}

.text a:hover{
    text-decoration: underline;
    cursor: pointer;
}

footer{
    background-color: gainsboro;
    font-size: 19px;
    margin-top: 170px;
}

.footerbottom{
    padding: 16px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid gray;
    
}

p{
    margin-left: 20px;
    margin-top: 100px;
    margin-bottom: 18px;
}

.bottomleft a{
    margin-right: 16px;
}

.bottomright a{
    margin-right: 16px;
}

.bottomright:hover{
    text-decoration: underline;
    cursor: pointer;
}

.bottomleft:hover{
    text-decoration: underline;
    cursor: pointer;
}
